<form class="form-horizontal" #f="ngForm" (ngSubmit)="submit(f)">
    <div ngModelGroup="contact" #contact="ngModelGroup">
        <div class="alert alert-success" *ngIf="contact.valid">ngModelGroup is valid</div>
        <div class="form-group">
            <label for="firstName" class="control-label">First name</label>
            <input class="form-control" minlength="3" maxlength="10" required ngModel #firstName="ngModel" (change)="log(firstName)" type="text" name="firstName" id="firstName">

            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors.required">First name is required.</div>
                <div *ngIf="firstName.errors.minlength">First name should be minimum {{firstName.errors.minlength.requiredLength}} characters.</div>
                <div *ngIf="firstName.errors.pattern">First name is not valid.</div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <label for="comment" class="control-label">Comment</label>
        <textarea minlength="3" maxlength="10" id="comment" required name="comment" ngModel #comment="ngModel" cols="30" rows="10" class="form-control"></textarea>

        <div class="alert alert-danger" *ngIf="comment.touched && !comment.valid">
            <div *ngIf="comment.errors.required">Comment is required.</div>
            <div *ngIf="comment.errors.minlength">Comment should be minimum {{comment.errors.minlength.requiredLength}} characters.</div>

        </div>
    </div>
    <div class="checkbox">
        <label>
        <input type="checkbox" ngModel name="isSubscribed" id="isSubscribed">
        Subscribed to mailing list
      </label>
    </div>
    <div class="form-group">
        <label for="contactMethods"></label>
        <select multiple ngModel name="contactMethods" class="form-control" id="contactMethods">
          <option *ngFor="let c of contactMethods" [value]="c.id">{{c.name}}</option>
        </select>
    </div>

    <div class="radio" *ngFor="let c of contactMethods">
        <label>
        <input type="radio" ngModel name="contactMethod" id="contactMethod" [value]="c.id"> {{c.name}}
      </label>
    </div>

    <button class="btn btn-primary" [class.disabled]="!f.valid">Submit</button>
</form>
{{ f.value | json }}