<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">Angular 2+</a>
        </div>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active current">
                <a routerLink="/followers" [queryParams]="{ page:1 , order: 'newest'}">Followers</a>
            </li>
            <li routerLinkActive="active current"><a routerLink="/posts">Posts</a></li>
        </ul>
    </div>
</nav>