<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{title}}!
    </h1>
</div>
<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'">
        <a (click)="viewMode = 'map'">Map view</a>
    </li>
    <li [class.active]="viewMode == 'list'">
        <a (click)="viewMode = 'list'">List view</a>
    </li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map view content</div>
    <div *ngSwitchCase="'list'">List view content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>