<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{title}}!
    </h1>
    <courses></courses>
    <favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite>
    <boostrap-panel>
        <ng-container class="heading">Heading</ng-container>
        <div class="body">
            <h2>Body</h2>
            <p>Some text here</p>
        </div>
    </boostrap-panel>
    <div *ngIf="courses.length > 0; then coursesList else noCourses"> </div>
    <ng-template #coursesList>
        <h2>List of courses</h2>
    </ng-template>
    <ng-template #noCourses>
        <h2>No courses yet</h2>
    </ng-template>


</div>